# Server
PORT=8080
ENV=local
SERVER_MAX_PROCESS=4

# Database
DB_HOST=mongodb://localhost:27017
DB_NAME=Source-code-marking

# Redis
REDIS_DB=0
REDIS_HOST=localhost:6379
REDIS_PASSWORD=

# Email
EMAIL_USERNAME=<YOUR-USER-NAME-DNS>
EMAIL_MAILGUN_API_KEY=<YOUR-MAILGUN-API-KEY>
EMAIL_MAILGUN_DOMAIN=<YOUR-MAILGUN-DOMAIN>

# Logger
LOG_LEVEL=DEBUG
ACCESS_LOG_FILE_PATH=./tmp/access.log

# Front end
FRONT_END_SERVER_HOST=http://localhost:3000